fastapi
uvicorn
pandas
pymongo
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
neo4j
pytest
mongomock
paddleocr>=3.3.0
paddlepaddle>=3.2.0
SpeechRecognition
gTTS
openai-whisper
imageio-ffmpeg
numpy
opencv-python-headless
pillow
scikit-image
scipy
torch
torchvision
python-bidi
pyyaml
pyclipper
pydantic
firebase-admin
google-auth[requests]
annotated-doc
typing-inspection

