fastapi
uvicorn
pandas
pymongo
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
neo4j
pytest
mongomock
easyocr
SpeechRecognition
openai-whisper
numpy
opencv-python-headless
pillow
scikit-image
scipy
torch
torchvision
python-bidi
pyyaml
pyclipper
pydantic
annotated-doc
typing-inspection

