fastapi
uvicorn
pandas
pymongo
python-multipart
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
neo4j
pytest
mongomock
paddleocr>=3.3.0
paddlepaddle>=3.2.0
SpeechRecognition
gTTS>=2.5.4,<3
edge-tts>=7.2.8,<8
openai-whisper
imageio-ffmpeg
numpy
opencv-python-headless
pillow
scikit-image
scipy
torch
torchvision
python-bidi
pyyaml
pyclipper
pydantic
firebase-admin
tzdata
google-auth[requests]
annotated-doc
typing-inspection
scikit-learn
joblib
